.Navbar {
	background-color: rgba(0, 0, 0, .5);
	font-family: "Lato";
	font-weight: 300;
}

.Navbar ul {
	list-style-type: none;
	justify-content: flex-end;
	align-items: center;
}

.Navbar ul li:nth-child(1) {
	flex-grow: 2;
	margin: 1rem 0;
}

.Navbar a {
	font-size: 16px;
	color: white;
	text-decoration: none;
	padding: 1rem;
	display: block;
}

.Navbar .active {
	font-weight: 900;
}