.Navbar {
	background-color: rgba(0, 0, 0, .5);
	font-family: "Lato";
	font-weight: 300;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.Navbar ul {
	list-style-type: none;
	justify-content: flex-end;
	align-items: center;
}

/* Force logo to fill extra space */
.Navbar #logo {
	flex-grow: 2;
	margin: 1rem 0;
}

.Navbar #menuButton {
	font-size: 4rem;
	padding-right: 3rem;
}

.Navbar .item {
	display: none;
}

.Navbar .visible {
	display: block;
}

.Navbar a {
	color: inherit;
	font-size: 16px;
	text-decoration: none;
	padding: 1rem;
	display: block;
}

.Navbar .active {
	font-weight: 900;
}

@media only screen and (min-width: 768px){
	.Navbar #menuButton {
		display: none;
	}

	.Navbar .item {
		display: block;
	}
}